*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid .col{
    width: 33.33%;
    height: 33.33%;
    background-color: red;
    margin: 30px;
    float: left;
}
.grid::after{
    content: "";
    display: block;
    clear: both;
}