*{
margin: 0px;
padding: 0px;
}
.menu{
    width: 100%;
    position: fixed;
    background: red;
}
.menu ul li{
    display: inline-flex; 
    padding-right:10px ;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}